nav.sidebar {
  display: flex;
  flex-direction: column;

  align-items: center;

  max-width: 24rem;
  width: 100%;

  padding: 2rem;
  

  background: var(--background2);

  > span {
    align-self: center;
    display: flex;
    margin: 0 auto 4.5rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--yellow);
    font-family: "Poppins";

    p {
      display: inline;
      color: var(--green);
    }

    img {
      max-height: 4rem;
      margin-right: 2rem;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
}